<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>index</title>
  <link rel="stylesheet" href="/custom.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Font Awesome -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
rel="stylesheet"
/>
<!-- Google Fonts -->
<link
href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
rel="stylesheet"
/>
    
<script src="/functions.js"></script>
</head>


<body>


  <div id="content">

        
    <section class="navTop">
      <!-- Navbar-->
      <div style="margin-bottom: 5rem;">
          <header>
              <nav>
                  <button style="display: flex;align-items: center; font-weight: bold;" onclick="logout()"><span class="material-symbols-outlined">
                          chevron_left
                      </span> Logout</button>
                  <h1 class="logo">Feed</h1>
              </nav>
          </header>
      </div>








  </section>

  <!-- Cards -->
  <section style="padding: rem;">
    <!-- Welcome -->
    <div style="display: flex; justify-content: left;flex-direction: column;width: 80vw;margin-left: 0;">
      <div style="padding:2rem;background-color: rgb(0, 0, 0);margin-bottom: 0; ">
        <h1 style="font-size: 5vh;font-weight:bolder;color:white;">Welcome</h1>
        <h2 style="font-size: 2vh;font-weight:100;color:white;"><%= username %></h2>
      </div>
      <hr style="padding:0; margin:0; height: 2.5rem;width: 100%;" class="gradient">
    </div>
    
    <% viewsData.forEach(function(view) { %>
        <a href="/view<%= view.id %>" style="color:black; text-decoration: none;">
          <div style="background-color: black; margin-top: 3rem; width: 80vw; padding: 20px;">
            <h1 style="color: white; font-size: 2rem; font-weight: bold;"><%= view.name %></h1>
            <h2 style="color: white; font-size: 1rem; font-weight: 100;"><%= view.whyImportant %></h2>
          </div>
        </a>
      <% }); %>
  </section>
  
  </div>

  <script src="/dist/bundle.js"></script>


</body>

</html>