<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>view</title>
  <link rel="stylesheet" href="custom.css">
  <script src="/functions.js"></script>


  <link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="bundle.js"></script>

</head>

<style>
  .text{
    color: white;
  }
</style>
<body>

  <div id="content">

    <section class="navTop">
      <!-- Navbar-->
      <div style="margin-bottom: 5rem;">
        <header>
          <nav>
            <button onclick="Home()"><span class="material-symbols-outlined">
                chevron_left
              </span></button>
            <h1 class="logo">Feed</h1>
          </nav>
        </header>
      </div>
  
    </section>
  
    <section style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
  
      <div style="height: 50vh;width: 100%; background-image:url('./bg.jpg');background-size: cover;padding: 0rem;"></div>
    
      <div style="background-color: rgb(109, 109, 109);width: 100%;">
        <div style="display: flex; justify-content: right; position: absolute; right: 20px;">
          <!-- Updated button to link to the EditAdd route with the id -->
          <a href="/EditAdd/<%= goalData.id %>" style="border-radius: 100%;width: 50px;height: 50px;position: relative; top: -25px;right: 5%;background-color:white;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); text-decoration: none; display: flex; justify-content: center; align-items: center;">
            <span class="material-symbols-outlined" style="color: black; font-size: 24px;">edit</span>
          </a>
        </div>
        <div class="text" style="padding: 1rem;">
          <h1><%= goalData.name %></h1>
          <h2 style="font-weight: 100; font-size: 16px;"><%= goalData.whyImportant %></h2>
        </div>
    
        <div style="background-color: blueviolet; padding: 9px; margin: 0;"></div>  
      </div>
    
    </section>
    
  
      
  </div>

</body>



</html>